## import libraries

In [ ]:
#%%import libraries
import numpy as np
np.set_printoptions(threshold=np.inf) 
np.core.arrayprint._line_width=np.inf

import pandas as pd
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 300)
pd.set_option('display.width', 100000)

import os
import shutil
import glob

import sklearn  
from sklearn.ensemble.gradient_boosting import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest,f_classif,chi2
from sklearn.preprocessing import StandardScaler

import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import ( Dense, Dropout,Input)
from tensorflow.keras.models import load_model

import pickle

import warnings
warnings.filterwarnings("ignore")

#%%Read Data

## Read The Data

In [ ]:
features=pd.read_csv('/content/drive/My Drive/ML/01 Data set/NUSW-NB15_features.csv',engine='python')
features

    No.              Name      Type                                         Description
0     1             srcip    nominal                                  Source IP address
1     2             sport    integer                                 Source port number
2     3             dstip    nominal                             Destination IP address
3     4            dsport    integer                            Destination port number
4     5             proto    nominal                               Transaction protocol
5     6             state    nominal  Indicates to the state and its dependent proto...
6     7               dur      Float                              Record total duration
7     8            sbytes    Integer           Source to destination transaction bytes
8     9            dbytes    Integer            Destination to source transaction bytes
9    10              sttl    Integer          Source to destination time to live value
10   11              dttl    Integer           Destination to source time to live value
11   12             sloss    Integer           Source packets retransmitted or dropped
12   13             dloss    Integer       Destination packets retransmitted or dropped
13   14           service    nominal  http, ftp, smtp, ssh, dns, ftp-data ,irc  and ...
14   15             Sload      Float                             Source bits per second
15   16             Dload      Float                        Destination bits per second
16   17             Spkts    integer                Source to destination packet count
17   18             Dpkts    integer                 Destination to source packet count
18   19              swin    integer              Source TCP window advertisement value
19   20              dwin    integer         Destination TCP window advertisement value
20   21             stcpb    integer                    Source TCP base sequence number
21   22             dtcpb    integer               Destination TCP base sequence number
22   23           smeansz    integer  Mean of the ?ow packet size transmitted by the...
23   24           dmeansz    integer  Mean of the ?ow packet size transmitted by the...
24   25       trans_depth    integer  Represents the pipelined depth into the connec...
25   26       res_bdy_len    integer  Actual uncompressed content size of the data t...
26   27              Sjit      Float                               Source jitter (mSec)
27   28              Djit      Float                          Destination jitter (mSec)
28   29             Stime  Timestamp                                  record start time
29   30             Ltime  Timestamp                                   record last time
30   31           Sintpkt      Float             Source interpacket arrival time (mSec)
31   32           Dintpkt      Float        Destination interpacket arrival time (mSec)
32   33            tcprtt      Float  TCP connection setup round-trip time, the sum ...
33   34            synack      Float  TCP connection setup time, the time between th...
34   35            ackdat      Float  TCP connection setup time, the time between th...
35   36   is_sm_ips_ports     Binary  If source (1) and destination (3)IP addresses ...
36   37      ct_state_ttl    Integer  No. for each state (6) according to specific r...
37   38  ct_flw_http_mthd    Integer  No. of flows that has methods such as Get and ...
38   39      is_ftp_login     Binary  If the ftp session is accessed by user and pas...
39   40        ct_ftp_cmd    integer     No of flows that has a command in ftp session.
40   41        ct_srv_src    integer  No. of connections that contain the same servi...
41   42        ct_srv_dst    integer  No. of connections that contain the same servi...
42   43        ct_dst_ltm    integer  No. of connections of the same destination add...
43   44       ct_src_ ltm    integer  No. of connections of the same source address ...
44   45  ct_src_dport_ltm    integer  No of connections of the same source address (...
45   46  ct_dst_sport_ltm    integer  No of connections of the same destination addr...
46   47    ct_dst_src_ltm    integer  No of connections of the same source (1) and t...
47   48        attack_cat    nominal  The name of each attack category. In this data...
48   49             Label     binary              0 for normal and 1 for attack records

In [ ]:
cols=features["Name"]
data1=pd.read_csv('/content/drive/My Drive/ML/01 Data set/UNSW-NB15_1.csv',names=cols)
data2=pd.read_csv('/content/drive/My Drive/ML/01 Data set/UNSW-NB15_2.csv',names=cols)
data3=pd.read_csv('/content/drive/My Drive/ML/01 Data set/UNSW-NB15_3.csv',names=cols)
data4=pd.read_csv('/content/drive/My Drive/ML/01 Data set/UNSW-NB15_4.csv',names=cols)
Data=pd.concat([data1,data2,data3,data4],ignore_index=True)
Data=Data.replace(r'^\s*$', np.nan, regex=True)
del data1,data2,data3,data4

## Visulaize the Data

In [ ]:
print("Data Shape:\n",Data.shape)
print(100*"=")
print("Data Head:\n",Data.head())
print(100*"=")
print("Data Types:\n",Data.dtypes)
print(100*"=")
print("Null Data:\n",Data.isnull().sum().sort_values(ascending=False,inplace=False))

Data Shape:
 (2540047, 49)
====================================================================================================
Data Head:
         srcip  sport          dstip dsport proto state       dur  sbytes  dbytes  sttl  dttl  sloss  dloss service         Sload         Dload  Spkts  Dpkts  swin  dwin  stcpb  dtcpb  smeansz  dmeansz  trans_depth  res_bdy_len     Sjit       Djit       Stime       Ltime  Sintpkt   Dintpkt  tcprtt  synack  ackdat  is_sm_ips_ports  ct_state_ttl  ct_flw_http_mthd  is_ftp_login ct_ftp_cmd  ct_srv_src  ct_srv_dst  ct_dst_ltm  ct_src_ ltm  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm attack_cat  Label
0  59.166.0.0   1390  149.171.126.6     53   udp   CON  0.001055     132     164    31    29      0      0     dns  500473.93750  621800.93750      2      2     0     0      0      0       66       82            0            0  0.00000   0.000000  1421927414  1421927414    0.017  0.013000     0.0     0.0     0.0                0             0               0.0           0.0          0           3           7           1            3                 1                 1               1        NaN      0
1  59.166.0.0  33661  149.171.126.9   1024   udp   CON  0.036133     528     304    31    29      0      0       -   87676.08594   50480.17188      4      4     0     0      0      0      132       76            0            0  9.89101  10.682733  1421927414  1421927414    7.005  7.564333     0.0     0.0     0.0                0             0               0.0           0.0          0           2           4           2            3                 1                 1               2        NaN      0
2  59.166.0.6   1464  149.171.126.7     53   udp   CON  0.001119     146     178    31    29      0      0     dns  521894.53130  636282.37500      2      2     0     0      0      0       73       89            0            0  0.00000   0.000000  1421927414  1421927414    0.017  0.013000     0.0     0.0     0.0                0             0               0.0           0.0          0          12           8           1            2                 2                 1               1        NaN      0
3  59.166.0.5   3593  149.171.126.5     53   udp   CON  0.001209     132     164    31    29      0      0     dns  436724.56250  542597.18750      2      2     0     0      0      0       66       82            0            0  0.00000   0.000000  1421927414  1421927414    0.043  0.014000     0.0     0.0     0.0                0             0               0.0           0.0          0           6           9           1            1                 1                 1               1        NaN      0
4  59.166.0.3  49664  149.171.126.0     53   udp   CON  0.001169     146     178    31    29      0      0     dns  499572.25000  609067.56250      2      2     0     0      0      0       73       89            0            0  0.00000   0.000000  1421927414  1421927414    0.005  0.003000     0.0     0.0     0.0                0             0               0.0           0.0          0           7           9           1            1                 1                 1               1        NaN      0
====================================================================================================
Data Types:
 srcip                object
sport                object
dstip                object
dsport               object
proto                object
state                object
dur                 float64
sbytes                int64
dbytes                int64
sttl                  int64
dttl                  int64
sloss                 int64
dloss                 int64
service              object
Sload               float64
Dload               float64
Spkts                 int64
Dpkts                 int64
swin                  int64
dwin                  int64
stcpb                 int64
dtcpb                 int64
smeansz               int64
dmeansz               int64
trans_depth           int64
res_bdy_len           int64
Sjit                float64
Djit                float64
Stime                 int64
Ltime                 int64
Sintpkt             float64
Dintpkt             float64
tcprtt              float64
synack              float64
ackdat              float64
is_sm_ips_ports       int64
ct_state_ttl          int64
ct_flw_http_mthd    float64
is_ftp_login        float64
ct_ftp_cmd           object
ct_srv_src            int64
ct_srv_dst            int64
ct_dst_ltm            int64
ct_src_ ltm           int64
ct_src_dport_ltm      int64
ct_dst_sport_ltm      int64
ct_dst_src_ltm        int64
attack_cat           object
Label                 int64
dtype: object
====================================================================================================
Null Data:
 attack_cat          2218764
ct_ftp_cmd          1429879
is_ftp_login        1429879
ct_flw_http_mthd    1348145
Label                     0
sloss                     0
dwin                      0
swin                      0
Dpkts                     0
Spkts                     0
Dload                     0
Sload                     0
service                   0
dloss                     0
sttl                      0
dttl                      0
dtcpb                     0
dbytes                    0
sbytes                    0
dur                       0
state                     0
proto                     0
dsport                    0
dstip                     0
sport                     0
stcpb                     0
trans_depth               0
smeansz                   0
dmeansz                   0
ct_dst_src_ltm            0
ct_dst_sport_ltm          0
ct_src_dport_ltm          0
ct_src_ ltm               0
ct_dst_ltm                0
ct_srv_dst                0
ct_srv_src                0
ct_state_ttl              0
is_sm_ips_ports           0
ackdat                    0
synack                    0
tcprtt                    0
Dintpkt                   0
Sintpkt                   0
Ltime                     0
Stime                     0
Djit                      0
Sjit                      0
res_bdy_len               0
srcip                     0
dtype: int64

## PreProcessing

In [ ]:
print(Data.shape)
Data.drop_duplicates(keep=False,inplace=True) 
print(Data.shape)

(2540047, 49)
(1971209, 49)

In [ ]:
def StrToNum(a):      
  try:
    return int(a,0)
  except:
    try:
      return float(a)
    except:
      return a

In [ ]:
StrList=[j for i,j,k in zip(Data.dtypes,features.iloc[:,1],features.iloc[:,2])
if (i==('object'))and(k==('integer'or 'Float'))]
print(StrList)

['sport', 'dsport', 'ct_ftp_cmd']

In [ ]:
StrDict={col:[[i,j] for i,j in enumerate(Data[col]) if type(j)==str]
	 for col in StrList}
for col in StrList:
  print(len(StrDict[col]))

52417
1111321
31243

In [ ]:
for col in StrList:
  Data[col]=Data[col].map(StrToNum)

In [ ]:
StrDict={col:[[i,j] for i,j in enumerate(Data[col]) if type(j)==str] for col in StrList}
for col in StrList:
  print(len(StrDict[col]))

2
7
0

In [ ]:
for col in StrDict.keys():
  print(np.unique(StrDict[col]))
  print(100*'=')

['-' '125776' '78808']
====================================================================================================
['-' '104770' '122414' '34983' '44021' '44023' '45465' '70198']
====================================================================================================
[]
====================================================================================================

In [ ]:
Data[StrList]=Data[StrList].replace('-',np.nan,regex=True)

In [ ]:
StrDict={col:[[i,j] for i,j in enumerate(Data[col]) if type(j)==str] for col in StrList}
for col in StrList:
  print(len(StrDict[col]))

2
7
0

## Save The Data

In [ ]:
#os.makedirs('/content/drive/My Drive/ML/02 Results' , exist_ok = False)

In [ ]:
#Data.to_csv('/content/drive/My Drive/ML/02 Results/tot_Data.csv',index=False)

## Split The Data

In [ ]:
#%%Split The Data
y=Data['Label']
x=Data.drop(['Label','attack_cat'],axis=1)
x_train, x_test, y_train, y_test  = train_test_split(x, y, test_size=0.2, random_state=2)
x_train.reset_index(inplace=True,drop=True)
x_test.reset_index(inplace=True,drop=True)
print('x_train shape:\n',x_train.shape)
print('y_train shape:\n',y_train.shape)
print('x_test shape:\n',x_test.shape)
print('y_test  shape:\n',y_test .shape)
del x,y,Data

x_train shape:
 (1576967, 47)
y_train shape:
 (1576967,)
x_test shape:
 (394242, 47)
y_test  shape:
 (394242,)

## Cleaning The Data

In [ ]:
#%%Cleanning the Data
print(x_train.isnull().sum().sort_values(ascending=False,inplace=False).head(8))
print(100*'=')

ct_ftp_cmd          771646
is_ftp_login        771646
ct_flw_http_mthd    708012
dsport                   6
sport                    2
ct_dst_src_ltm           0
sloss                    0
dwin                     0
dtype: int64
====================================================================================================

In [ ]:
NanColsNames=x_train.columns[x_train.isnull().any()]
num=x_train[NanColsNames]._get_numeric_data().columns #numeric data columns names
cat=x_train[NanColsNames].select_dtypes(include=['object']).columns#categorical data columns names
print(len(num),'\n',len(cat))

5
 0

In [ ]:

SIn=SimpleImputer(missing_values=np.nan, strategy='mean')#replace nan values with the colum mean
SIn.fit(x_train[num])
x_train[num]=pd.DataFrame(SIn.transform(x_train[num]),columns=num) #transform
x_test[num]=pd.DataFrame(SIn.transform(x_test[num]),columns=num)

In [ ]:
print(x_train.isnull().sum().sort_values(ascending=False,inplace=False).head())
print(100*'=')
print(x_test.isnull().sum().sort_values(ascending=False,inplace=False).head())

ct_dst_src_ltm    0
sloss             0
stcpb             0
dwin              0
swin              0
dtype: int64
====================================================================================================
ct_dst_src_ltm    0
sloss             0
stcpb             0
dwin              0
swin              0
dtype: int64

## Categorical Encoding

In [ ]:
x_train=pd.get_dummies(x_train)
x_test=pd.get_dummies(x_test)
missed_features=set(x_train.columns)-set(x_test.columns)

for i in missed_features:
    x_test[i]=0

missed_features=set(x_test.columns)-set(x_train.columns)

for i in missed_features:
    x_test=x_test.drop(i,axis=1)    

num=x_train._get_numeric_data().columns
cat=set(x_train.columns)-set(num)

x_train = x_train.reindex(sorted(x_train.columns), axis=1)#sort the data again 
x_test = x_test.reindex(sorted(x_test.columns), axis=1)

In [ ]:
print(x_train.shape)
print(x_test.shape)
print('object' in x_train.dtypes.values)
print('object' in x_test.dtypes.values)

(1576967, 295)
(394242, 295)
False
False

## Feature Selection

In [ ]:
#%%feature selection
k=47
SP=SelectKBest(score_func=chi2,k=k)
SP.fit(x_train,y_train)

SelectKBest(k=47, score_func=<function chi2 at 0x7fd35aafd1e0>)

In [ ]:
f=SP.get_support() # get the remaining columns from feature selection
columns=x_train.columns[f]
print(len(columns))#k

47

In [ ]:
x_train=pd.DataFrame(SP.transform(x_train),columns=columns)
x_test=pd.DataFrame(SP.transform(x_test),columns=columns)

x_train = x_train.reindex(sorted(x_train.columns), axis=1)
x_test = x_test.reindex(sorted(x_test.columns), axis=1)

## Normalization

In [ ]:

columns=x_train.columns
SS=StandardScaler(copy=True, with_mean=True, with_std=True)
SS.fit(x_train)

x_train=pd.DataFrame(SS.transform(x_train),columns=columns)
x_test=pd.DataFrame(SS.transform(x_test),columns=columns)

In [ ]:
print(
x_train.agg(['max','min','std','mean']),'\n', 
x_test.agg(['max','min','std','mean']) 
)

           Dintpkt          Djit         Dload         Dpkts         Ltime       Sintpkt          Sjit         Sload         Spkts         Stime        ackdat    ct_dst_ltm    ct_srv_dst    ct_srv_src  ct_state_ttl        dbytes         dloss       dmeansz        dsport  dstip_149.171.126.10  dstip_149.171.126.11  dstip_149.171.126.12  dstip_149.171.126.13  dstip_149.171.126.14  dstip_149.171.126.15  dstip_149.171.126.16  dstip_149.171.126.17  dstip_149.171.126.18  dstip_149.171.126.19         dtcpb          dttl           dur    proto_unas   res_bdy_len        sbytes  service_pop3         sloss       smeansz         sport  srcip_175.45.176.0  srcip_175.45.176.1  srcip_175.45.176.2  srcip_175.45.176.3     state_INT         stcpb          sttl        tcprtt
max   6.311241e+01  2.592689e+02  2.778130e+01  8.558914e+01  1.017763e+00  4.907015e+01  1.585119e+02  9.147994e+01  1.266483e+02  1.017763e+00  2.077777e+02  1.981695e+01  1.579756e+01  1.475701e+01  1.536775e+01  8.530219e+01  9.140516e+01  3.417920e+00  8.875027e+02          1.345335e+01          1.296789e+01          1.484452e+01          1.269078e+01          1.362193e+01          1.349177e+01          1.347605e+01          1.239007e+01          1.493428e+01          1.365772e+01  1.925548e+00  5.056141e+00  2.145975e+01  2.784002e+01  1.225614e+02  2.234591e+02  3.722841e+01  2.099559e+02  8.244993e+00  1.717644e+00        8.461739e+00        8.420171e+00        8.871821e+00        8.257326e+00  8.015117e+00  1.923454e+00  4.744339e+00  1.975413e+02
min  -4.498179e-02 -2.784266e-01 -6.737663e-01 -3.972084e-01 -1.019695e+00 -4.993020e-02 -1.871291e-01 -8.444992e-02 -4.923429e-01 -1.019723e+00 -1.265593e-01 -1.055266e+00 -9.901894e-01 -9.904335e-01 -2.022013e-01 -2.495541e-01 -3.221370e-01 -9.976162e-01 -2.408439e-02         -7.433091e-02         -7.711355e-02         -6.736493e-02         -7.879734e-02         -7.341102e-02         -7.411928e-02         -7.420573e-02         -8.070983e-02         -6.696003e-02         -7.321868e-02 -1.083893e+00 -8.618518e-01 -2.129790e-01 -3.591952e-02 -9.976527e-02 -8.507263e-02 -2.686121e-02 -2.583434e-01 -7.877165e-01 -1.707759e+00       -1.181790e-01       -1.187624e-01       -1.127164e-01       -1.211046e-01 -1.247642e-01 -1.084061e+00 -9.045527e-01 -1.414541e-01
std   1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00          1.000000e+00          1.000000e+00          1.000000e+00          1.000000e+00          1.000000e+00          1.000000e+00          1.000000e+00          1.000000e+00          1.000000e+00          1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00        1.000000e+00        1.000000e+00        1.000000e+00        1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
mean -2.865931e-16  3.395555e-15 -2.724983e-16  4.131277e-16 -2.227343e-14  3.670545e-15 -1.562448e-15  8.695839e-17 -2.265291e-15  2.480915e-14 -1.246256e-16 -1.910380e-15 -1.359629e-15 -1.395288e-15  5.075273e-15  3.400507e-16  9.979806e-16 -4.277359e-17  6.091508e-15          2.569879e-14          1.443208e-14          1.050369e-15         -4.359132e-15          1.967973e-14         -9.263518e-16         -5.761811e-15          2.654004e-14         -4.330716e-14          3.869926e-15  5.651217e-15 -4.414226e-15  2.881247e-17  1.186882e-14  3.370518e-15 -7.482243e-16  8.413903e-15 -1.078611e-15 -2.316340e-15  1.246745e-16       -1.664292e-14        2.838657e-15       -3.129565e-15       -8.823094e-15  7.002616e-17  1.926903e-15  2.964429e-15  5.535071e-16
         Dintpkt        Djit     Dload      Dpkts     Ltime    Sintpkt        Sjit      Sload       Spkts     Stime      ackdat  ct_dst_ltm  ct_srv_dst  ct_srv_src  ct_state_ttl     dbytes      dloss   dmeansz    dsport  dstip_149.171.126.10  dstip_149.171.126.11  dstip_149.171.126.12  dstip_149.171.126.13  dstip_149.171.126.14  dstip_149.171.126.15  dstip_149.171.126.16  dstip_149.171.126.17  dstip_149.171.126.18  dstip_149.171.126.19     dtcpb      dttl        dur  proto_unas  res_bdy_len      sbytes  service_pop3       sloss   smeansz     sport  srcip_175.45.176.0  srcip_175.45.176.1  srcip_175.45.176.2  srcip_175.45.176.3  state_INT     stcpb      sttl      tcprtt
max   56.779250  185.863996  4.492668  72.540570  1.017763  34.887169  129.569838  80.653687  132.207617  1.017763  121.317512   19.372856   15.264611   14.507046     15.367749  72.257924  77.496990  3.417920  0.083829             13.453354             12.967890             14.844520             12.690784             13.621934             13.491766             13.476048             12.390065             14.934283             13.657717  1.925550  5.056141  21.459615   27.840015    97.962495  234.546576     37.228407  219.154809  8.244993  1.717644            8.461739            8.420171            8.871821            8.257326   8.015117  1.923447  4.744339  102.588269
min   -0.044982   -0.278427 -0.673766  -0.397208 -1.019695  -0.049930   -0.187129  -0.084450   -0.492343 -1.019694   -0.126559   -1.055266   -0.990189   -0.990434     -0.202201  -0.249554  -0.322137 -0.997616 -0.024084             -0.074331             -0.077114             -0.067365             -0.078797             -0.073411             -0.074119             -0.074206             -0.080710             -0.066960             -0.073219 -1.083893 -0.861852  -0.212979   -0.035920    -0.099765   -0.085073     -0.026861   -0.258343 -0.787716 -1.707759           -0.118179           -0.118762           -0.112716           -0.121105  -0.124764 -1.084061 -0.904553   -0.141454
std    1.013302    0.938819  0.999092   0.984103  1.000015   1.081808    0.840394   0.968943    1.048074  1.000015    0.990280    1.002717    1.004591    1.002072      1.006455   0.982754   0.981132  0.999969  0.032251              0.996494              0.999894              0.994396              1.000052              1.000648              1.012388              0.982103              1.011517              1.035358              1.008891  1.001319  1.008105   1.005645    0.962940     0.971707    1.144854      1.049316    1.129380  0.999236  1.000314            0.979325            1.006697            1.016427            1.013009   1.002381  0.998955  1.002675    1.007101
mean  -0.000193   -0.001086 -0.001045  -0.000962  0.001524   0.004644   -0.002109  -0.001603    0.000256  0.001524    0.001277    0.001192   -0.000796   -0.000600      0.001979  -0.001147  -0.001155 -0.001443 -0.001155             -0.000523             -0.000017             -0.000757              0.000008              0.000095              0.001858             -0.002647              0.001882              0.004842              0.001315  0.003055  0.003257   0.000252   -0.002616    -0.002130    0.000967      0.002717    0.001178 -0.000277  0.000487           -0.004902            0.001619            0.003783            0.003220   0.000604 -0.000168  0.001171    0.001722

## Model

In [ ]:
input_layer= Input(shape=(x_train.shape[1]))
x=Dense(32,'relu')(input_layer)
x=Dropout(0.2)(x)
x=Dense(16,'relu')(x)
x=Dropout(0.2)(x)
x=Dense(1,'sigmoid')(x)

model = Model(inputs=input_layer, outputs=x)
model.compile(optimizer ='adam',
  loss='binary_crossentropy',
  metrics=['accuracy'])
hist=model.fit(np.array(x_train), np.array(y_train), epochs=1,
          validation_data=(np.array(x_test), np.array(y_test)))

49281/49281 [==============================] - 143s 3ms/step - loss: 0.0268 - accuracy: 0.9869 - val_loss: 0.0214 - val_accuracy: 0.9890